<div class="contendor ">
    <h1 class="text-justify">Pokedex</h1>
    <hr>
    <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status" *ngIf="!spinnerLoading">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <div class="card-columns m-50 animated fadeIn" *ngIf="spinnerLoading && pokemones">
        <div (click)="verPokemon(pokemon)" class="card puntero" *ngFor="let pokemon of pokemones.results">
            <div class="id">{{pokemon.details.id}}</div>
            <img class="card-img-top" src="{{pokemon.details.sprites.front_default}}" alt="photo of {{pokemon.name}}">
            <div class="card-body">
                <h5 class="card-title align-content-center">{{ pokemon.name | titlecase}}</h5>
            </div>
        </div>
    </div>
</div>